{{ define "admin/comments" }}

{{ template "admin/header" . }}

{{ if eq (len .Comments) 0 }}
    <p>
        No one commented on your site just yet.
    </p>
{{ end }}

<div class="commentHeaders">
    <ul>
        <li>Author</li>
        <li>Comment</li>
        <li>Status</li>
        <li>On post</li>
        <li>Submitted on</li>
    </ul>
</div>

{{ range .Comments }}

    <div class="commentRows">
        <ul>
            <li><span class="narrowLabel">Author: </span>{{ .Author.Username }}</li>
            <li><span class="narrowLabel">Email: </span>{{ .Author.Email }}</li>
            <li><span class="narrowLabel">IP: </span>{{ .AuthorIP }}</li>
            <li><span class="narrowLabel">Comment: </span>{{ .Content }}</li>
            <li><span class="narrowLabel">Status: </span>{{ .Status }}</li>
            <li><span class="narrowLabel">On post: </span>{{ .On }}</li>
            <li><span class="narrowLabel">Submitted on: </span>{{ .Date }}</li>
            <li><a href="{{ $.SiteURL }}/admin/editcomment/{{ .ID.Hex }}">Edit</a> - <a href="{{ $.SiteURL }}/admin/deletecomment/{{ .ID.Hex }}">Delete</a></li>
        </ul>
    </div>

{{ end }}

{{ template "admin/footer" . }}

{{ end }}
