{{ define "admin/edituser" }}

{{ template "admin/header" . }}

{{ if eq .New true }}
<h1 class="sectionTitle">Add New User</h1>
{{ else }}
<h1 class="sectionTitle">Edit User</h1>
{{ end }}
<form class="edituser" action="{{ .SiteURL }}/admin/saveuser/{{ .User.ID.Hex }}" method="post">
    <div class="formElementDiv">
        <label for="username">Username</label><input id="username" type="text" name="Username" value="{{ .User.Username }}">
    </div>
    <div class="formElementDiv">
        <label for="password">Password</label><input id="password" type="password" name="Password">
    </div>
    <div class="formElementDiv">
        <label for="firstname">First Name</label><input id="firstname" type="text" name="Firstname" value="{{ .User.Firstname }}">
    </div>
    <div class="formElementDiv">
        <label for="lastname">Last Name</label><input id="lastname" type="text" name="Lastname" value="{{ .User.Lastname }}">
    </div>
    <div class="formElementDiv">
        <label for="email">Email</label><input id="email" type="email" name="Email" value="{{ .User.Email }}">
    </div>
    <div class="formElementDiv">
        {{ if eq .User.Role "user"}}
            <input type="radio" name="Role" value="user" checked="checked"> User
            <input type="radio" name="Role" value="admin"> Admin
        {{ else if eq .User.Role "admin" }}
            <input type="radio" name="Role" value="user"> User
            <input type="radio" name="Role" value="admin" checked="checked"> Admin
        {{ end }}
    </div>
    <div class="formElementDiv">
        {{ if eq .New false }}
            <label for="delete">Write "delete" in the box bollow to remove user</label><input id="delete" type="text" name="Delete">
        {{ end }}
    </div>
    <div class="formElementDiv">
        {{ if eq .New true }}
        <button type="submit" name="Create User">Add User</button>
        {{ else }}
        <button type="submit" name="Create User">Update User</button>
        {{ end }}

    </div>
</form>

{{ template "admin/footer" . }}

{{ end }}
