{{ define "admin/editpost" }}

{{ template "admin/header" . }}

{{ if eq .New true }}
<h1 class="sectionTitle">Add Post</h1>
{{ else }}
<h1 class="sectionTitle">Edit Post</h1>
{{ end }}
<form class="editpost" action="{{ .SiteURL }}/admin/savepost/{{ .Post.ID.Hex }}" method="post" enctype="multipart/form-data">
    <div class="formElementDiv">
        <label for="title">Title</label><input autocomplete="off" spellcheck="true" id="title" type="text" name="Title" value="{{ .Post.Title }}">
    </div>
    <div class="formElementDiv">
        <label for="author">Author</label><input autocomplete="off" spellcheck="true" id="author" type="text" name="AuthorName" value="{{ .Post.Author.Firstname }}">
        <input type="hidden" name="AuthorUsername" value="{{ .Post.Author.Username }}">
    </div>
    <div class="formElementDiv">
        <label for="category">Category</label><input autocomplete="off" spellcheck="true" id="category" type="text" name="Category" value="{{ range .Post.Categories }}{{.}}{{ end }}">
    </div>
    <div class="formElementDiv">
        <label for="tags">Tags</label><input autocomplete="off" spellcheck="true" id="tags" type="text" name="Tags" value="{{ range .Post.Tags }}{{.}}{{ end }}">
    </div>
    <div class="formElementDiv">
        <label for="contentbox">Write Markdown</label><div id="textareadiv"><textarea autocomplete="off" spellcheck="true" id="contentbox" name="Content" rows="8" cols="40">{{ .Post.Content }}</textarea></div>
    </div>
    <div class="formElementDiv">
        <label for="uploadimage">Upload Image</label><input type="file" name="Images" id="uploadimage" multiple>
    </div>

    {{ if gt (len .Post.Images) 0 }}
        <div class="formElementDiv">
            <ol>
                {{ range .Post.Images }}
                    <li>{{ .URL }}</li>
                {{ end }}
            </ol>
        </div>
    {{ end }}

    <div class="formElementDiv">
        {{ if eq .Post.Status "draft"}}
            <input type="radio" name="Status" value="draft" checked="checked"> Draft
            <input type="radio" name="Status" value="publish"> Publish
        {{ else if eq .Post.Status "publish" }}
            <input type="radio" name="Status" value="draft"> Draft
            <input type="radio" name="Status" value="publish" checked="checked"> Publish
        {{ end }}
    </div>
    <div class="formElementDiv">
        {{ if eq .New false }}
            <label for="delete">Write "delete" in the box bollow to remove user</label><input id="delete" type="text" name="Delete">
        {{ end }}
    </div>
    <div class="formElementDiv">
        <button type="submit" name="Save">Save</button>
    </div>
    <div class="formElementDiv">
        <p>
            Post ID: {{ .Post.ID.Hex }}
        </p>
    </div>
</form>

{{ template "admin/footer" . }}

{{ end }}
