{{ define "admin/editpage" }}

{{ template "admin/header" . }}

{{ if eq .New true }}
<h1 class="sectionTitle">Add Page</h1>
{{ else }}
<h1 class="sectionTitle">Edit Page</h1>
{{ end }}
<form class="editpost" action="{{ .SiteURL }}/admin/savepage/{{ .Page.ID.Hex }}" method="post">
    <div class="formElementDiv">
        <label for="title">Title</label><input id="title" type="text" name="Title" value="{{ .Page.Title }}">
    </div>
    <div class="formElementDiv">
        <label for="author">Author</label><input id="author" type="text" name="AuthorName" value="{{ .Page.Author.Firstname }}">
        <input type="hidden" name="AuthorUsername" value="{{ .Page.Author.Username }}">
    </div>
    <div class="formElementDiv">
        <label for="contentbox">Write Markdown</label><div id="textareadiv"><textarea autocomplete="off" spellcheck="true" id="contentbox" name="Content" rows="8" cols="40">{{ .Page.Content }}</textarea></div>
    </div>
    <div class="formElementDiv">
        {{ if eq .Page.Status "draft"}}
            <input type="radio" name="Status" value="draft" checked="checked"> Draft
            <input type="radio" name="Status" value="publish"> Publish
        {{ else if eq .Page.Status "publish" }}
            <input type="radio" name="Status" value="draft"> Draft
            <input type="radio" name="Status" value="publish" checked="checked"> Publish
        {{ end }}
    </div>
    <div class="formElementDiv">
        {{ if eq .New false }}
            <label for="delete">Write "delete" in the box bollow to remove user</label><input id="delete" type="text" name="Delete">
        {{ end }}
    </div>
    <div class="formElementDiv">
        <button type="submit" name="Save">Save</button>
    </div>
    <div class="formElementDiv">
        <p>
            Page ID: {{ .Page.ID.Hex }}
        </p>
    </div>
</form>

{{ template "admin/footer" . }}

{{ end }}
