{{ define "admin/editcomment" }}

{{ template "admin/header" . }}

<h1 class="sectionTitle">Edit Comment</h1>

<form class="editpost" action="{{ .SiteURL }}/admin/savecomment/{{ .Comment.ID.Hex }}" method="post">
    <div class="formElementDiv">
        <label for="author">Author</label><input autocomplete="off" spellcheck="true" id="author" type="text" name="AuthorUsername" value="{{ .Comment.Author.Username }}">
    </div>
    <div class="formElementDiv">
        <label for="contentbox">Write Markdown</label><div id="textareadiv"><textarea autocomplete="off" spellcheck="true" id="contentbox" name="Content" rows="8" cols="40">{{ .Comment.Content }}</textarea></div>
    </div>

    <div class="formElementDiv">
        {{ if eq .Comment.Status "pending"}}
            <input type="radio" name="Status" value="pending" checked="checked"> Pending
            <input type="radio" name="Status" value="approved"> Draft
            <input type="radio" name="Status" value="spam"> Spam
        {{ else if eq .Comment.Status "approved" }}
            <input type="radio" name="Status" value="pending"> Pending
            <input type="radio" name="Status" value="approved" checked="checked"> Draft
            <input type="radio" name="Status" value="spam"> Spam
        {{ else if eq .Comment.Status "spam" }}
            <input type="radio" name="Status" value="pending"> Pending
            <input type="radio" name="Status" value="approved"> Draft
            <input type="radio" name="Status" value="spam" checked="checked"> Spam
        {{ end }}
    </div>
    <div class="formElementDiv">
            <label for="delete">Write "delete" in the box bollow to remove the comment</label><input id="delete" type="text" name="Delete">
    </div>
    <div class="formElementDiv">
        <button type="submit" name="Save">Save</button>
    </div>
    <div class="formElementDiv">
        <p>
            Comment ID: {{ .Comment.ID.Hex }}
        </p>
    </div>
</form>

{{ template "admin/footer" . }}

{{ end }}
