{{ define "admin/forgot-password" }}

{{ template "admin/pre-login-header" . }}

<h1 class="sectionTitle">Forgot Password</h1>

{{ .Message }}

<form class="login" action="{{ .SiteURL }}/send_password_reset" method="post">
    <div class="formElementDiv">
        <label for="email">Email</label><input id="email" type="email" name="Email" value="">
    </div>
    <div class="formElementDiv">
        <button type="submit" name="Login">Request password reset</button>
    </div>
    <div class="formElementDiv">
        Don't have an account? <a href="/signup">Sign up</a>
    </div>
</form>

{{ template "admin/footer" . }}

{{ end }}
