{{ define "admin/header" }}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/static/css/normalize.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/static/css/main.css" media="screen" title="no title" charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <!--[if lt IE 9]>
            <script src="/static/js/html5shiv.js"></script>
        <![endif]-->
        <script type="text/javascript">
            function displayMenu() {
                $('#mainMenu').slideToggle("slow");
                $('#logout').slideToggle("slow");
            }
            $(document).ready(function () {
                document.getElementById('menuButton').addEventListener('click', displayMenu, false);
                (function() {
                    var d = document,
                        c = d.getElementById('textareadiv'),
                        t = d.getElementById('contentbox'),
                        f = d.createTextNode('');

                    c.appendChild(f);

                    function updateSize() {
                       f.nodeValue = t.value + '\n\n\n\n\n\n';
                    }

                    t.onkeypress = t.onkeyup = t.onchange = updateSize;

                    updateSize();
                  })();
            });


        </script>

    </head>
    <body>
        <!-- <div id="container">           -->
            <header class="mainHeader">
                <nav>
                    <a id="menuButton" href="#">Menu</a>
                    <ul id="mainMenu"  class="topNav">
                        <li><a href="{{ .SiteURL }}/admin">Dashboard</a></li>
                        <li><a href="{{ .SiteURL }}/admin/posts">Posts</a></li>
                        <li><a href="{{ .SiteURL }}/admin/comments">Comments</a></li>
                        <li><a href="{{ .SiteURL }}/admin/pages">Pages</a></li>
                        <li><a href="{{ .SiteURL }}/admin/users">Users</a></li>
                    </ul>


                    <ul id="logout" class="topNav">
                         <li><a href="{{ .SiteURL }}/logout">Logout</a></li>
                    </ul>
                </nav>
            </header>
            <section>

{{ end }}
