{{ define "admin/dashboard" }}

{{ template "admin/header" . }}

<h1 class="sectionTitle">Dashboard</h1>

<div class="infoBlock">
    <ul>
        <a href="{{ .SiteURL }}/admin/posts">
            <li class="">
                <h2>Posts</h2>
                <span>{{ .PostCount }}</span>
            </li>
        </a>

        <a href="{{ .SiteURL }}/admin/comments">
            <li class="">
                <h2>Comments</h2>
                <span>{{ .CommentCount }}</span>
            </li>
        </a>

        <a href="{{ .SiteURL }}/admin/pages">
            <li class="">
                <h2>Pages</h2>
                <span>{{ .PageCount }}</span>
            </li>
        </a>
        <a href="{{ .SiteURL }}/admin/users">
            <li class="">
                <h2>Users</h2>
                <span>{{ .UserCount }}</span>
            </li>
        </a>
    </ul>
</div>




{{ template "admin/footer" . }}

{{ end }}
