{{ define "admin/login" }}

{{ template "admin/pre-login-header" . }}

<h1 class="sectionTitle">Login</h1>

        {{ .Message }}

<form class="login" action="{{ .SiteURL }}/userlogin" method="post">
    <div class="formElementDiv">
        <label for="username">Username</label><input id="username" type="text" name="Username" value="">
    </div>
    <div class="formElementDiv">
        <label for="password">Password</label><input id="password" type="password" name="Password">
    </div>
    <div class="formElementDiv">
        <a href="/forgot_password">Forgot password?</a>
    </div>
    <div class="formElementDiv">
        <button type="submit" name="Login">Login</button>
    </div>
    <div class="formElementDiv">
        Don't have an account? <a href="/signup">Sign up</a>
    </div>
</form>

{{ template "admin/footer" . }}

{{ end }}
