{{ define "admin/new-password" }}

{{ template "admin/pre-login-header" . }}

{{ if .Expired }}

<p>
    Sorry! The password reset link you used seems to be expired.
</p>

{{ else }}
<h1 class="sectionTitle">Enter New Password</h1>

{{ .Message }}

<form class="login" action="{{ .SiteURL }}/create_new_password/{{ .ID.Hex }}" method="post">
    <div class="formElementDiv">
        <label for="password">New Password</label><input id="password" type="password" name="Password">
    </div>
    <div class="formElementDiv">
        <button type="submit" name="Login">Set new password</button>
    </div>
</form>
{{ end }}

{{ template "admin/footer" . }}

{{ end }}
