{{ define "admin/pages" }}

    {{ template "admin/header" . }}

    <div class="sectionMenu">
        <ul>
            <li><a href="{{ .SiteURL }}/admin/newpage">New Page</a></li>
        </ul>
    </div>

    {{ if eq (len .Pages) 0 }}
        <p>
            No page yet. Create the first one <a href="{{ .SiteURL }}/admin/newpage">Here</a>
        </p>
    {{ end }}

    <div class="postHeaders">
        <ul>
            <li>Title</li>
            <li>Author</li>
            <li>Status</li>
            <li></li>
        </ul>
    </div>
    {{ range .Pages }}

    <div class="postRows">
        <ul>
            <li><span class="narrowLabel">Title: </span>{{ .Title }}</li>
            <li><span class="narrowLabel">Author: </span>{{ .Author.Username }}</li>
            <li><span class="narrowLabel">Status: </span>{{ .Status }}</li>
            <li><a href="{{ $.SiteURL }}/admin/editpage/{{ .ID.Hex }}">Edit</a></li>
        </ul>
    </div>

    {{ end }}

    {{ template "admin/footer" . }}

{{ end }}
