{{ define "admin/password-changed" }}

{{ template "admin/pre-login-header" . }}


<h2 class="sectionTitle">Password has been changed.</h2>
<a href="{{ .SiteURL }}">Go to home page</a> or <a href="{{ .SiteURL }}/login">login</a>


{{ template "admin/footer" . }}

{{ end }}
