{{ define "admin/password-reset-sent" }}

{{ template "admin/pre-login-header" . }}

<h2 class="sectionTitle">Check your email for password reset link</h2>
<a href="{{ .SiteURL }}">Go to home page</a>

{{ template "admin/footer" . }}

{{ end }}
