{{ define "admin/posts" }}

{{ template "admin/header" . }}

<div class="sectionMenu">
    <ul>
        <li><a href="{{ .SiteURL }}/admin/newpost">New Post</a></li>
    </ul>
</div>

{{ if eq (len .Posts) 0 }}
    <p>
        No post yet. Create the first one <a href="{{ .SiteURL }}/admin/newpost">Here</a>
    </p>
{{ end }}

<div class="postHeaders">
    <ul>
        <li>Title</li>
        <li>Author</li>
        <li>Category</li>
        <li>Status</li>
        <li></li>
    </ul>
</div>
{{ range .Posts }}

    <div class="postRows">
        <ul>
            <li><span class="narrowLabel">Title: </span>{{ .Title }}</li>
            <li><span class="narrowLabel">Author: </span>{{ .Author.Username }}</li>
            <li><span class="narrowLabel">Categories: </span>{{ .Categories }}</li>
            <li><span class="narrowLabel">Tags: </span>{{ .Tags }}</li>
            <li><span class="narrowLabel">Status: </span>{{ .Status }}</li>
            <li><a href="{{ $.SiteURL }}/admin/editpost/{{ .ID.Hex }}">Edit</a></li>
        </ul>
    </div>

{{ end }}

{{ template "admin/footer" . }}

{{ end }}
