{{ define "admin/pre-login-header" }}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/static/css/normalize.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/static/css/main.css" media="screen" title="no title" charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <!--[if lt IE 9]>
            <script src="/static/js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>

{{ end }}
