{{ define "admin/signup" }}

{{ template "admin/pre-login-header" . }}

<h1 class="sectionTitle">Sign Up</h1>
<form class="signup" action="{{ .SiteURL }}/signup/{{ .User.ID.Hex }}" method="post">
    <div class="formElementDiv">
        <label for="username">Username</label><input id="username" type="text" name="Username" value="{{ .User.Username }}">
    </div>
    <div class="formElementDiv">
        <label for="password">Password</label><input id="password" type="password" name="Password">
    </div>
    <div class="formElementDiv">
        <label for="firstname">First Name</label><input id="firstname" type="text" name="Firstname" value="{{ .User.Firstname }}">
    </div>
    <div class="formElementDiv">
        <label for="lastname">Last Name</label><input id="lastname" type="text" name="Lastname" value="{{ .User.Lastname }}">
    </div>
    <div class="formElementDiv">
        <label for="email">Email</label><input id="email" type="email" name="Email" value="{{ .User.Email }}">
    </div>
    <div class="formElementDiv">
        <button type="submit" name="Signup">Sign Up</button>
    </div>
</form>

{{ template "admin/footer" . }}

{{ end }}
