{{ define "admin/registrationconfirmation" }}

{{ template "admin/pre-login-header" . }}


<h2>Confirmation to come</h2>
<a href="{{ .SiteURL }}">Go to home page</a>


{{ template "admin/footer" . }}

{{ end }}
