{{ define "admin/users" }}

{{ template "admin/header" . }}

<div class="sectionMenu">
    <ul>
        <li><a href="{{ .SiteURL }}/admin/newuser">New User</a></li>
    </ul>
</div>

<div class="userHeaders">
    <ul>
        <li>Username</li>
        <li>Name</li>
        <li>Email</li>
        <li>Role</li>
        <li>Posts</li>
        <li></li>
    </ul>
</div>
{{ range .Users }}

    <div class="userRows">
        <ul>
            <li><span class="narrowLabel">Name: </span>{{ .Firstname }} {{ .Lastname }}</li>
            <li><span class="narrowLabel">Username: </span>{{ .Username }}</li>
            <li><span class="narrowLabel">Email: </span>{{ .Email }}</li>
            <li><span class="narrowLabel">Role: </span>{{ .Role }}</li>
            <li><span class="narrowLabel">Posts: </span>{{ .Posts.Total }}</li>
            <li><a href="{{ $.SiteURL }}/admin/edituser/{{ .ID.Hex }}">Edit</a></li>
        </ul>
    </div>

{{ end }}

{{ template "admin/footer" . }}

{{ end }}
