/**********************************
***********************************

****** MAIN HEADER

***********************************
***********************************/

#mainMenu, #logout {
    display: none;
}

#menuButton{
    background: none;
    border: none;
    color: #fff;
    font-size: 1.7em;
    padding: 10px 0;
    display: block;
    width: 100%;
    text-decoration: none;
}

.mainHeader {
    text-align: center;
    background: #4B697F;
}

.mainHeader ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #B5C2CC;
}

.mainHeader ul li {
    border-top: 1px solid #fff;

}

.mainHeader ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 1.3em;
}

/**********************************
***********************************

****** SECTION MENU

***********************************
***********************************/

.sectionMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #71797F;
}

.sectionMenu ul li {
    border-top: 1px solid #fff;
}

.sectionMenu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 1.3em;
}

/**********************************
***********************************

****** Container

***********************************
***********************************/

section {
    margin: 0;
}

/**********************************
***********************************

****** DASHBOARD

***********************************
***********************************/

.infoBlock {
    /*width: 200px;*/
    text-align: center;

}

.infoBlock ul {
    list-style: none;
    padding: 0;
    margin: 0 5% 0;
    text-decoration: none;
}

.infoBlock ul a {
    text-decoration: none;
    color: #000;
}

.infoBlock ul li {
    border: 1px solid #4B697F;
    padding: 40px;
    margin-bottom: 20px;
    text-decoration: none;
}

/*.infoBlock ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 1.3em;
}*/

.infoBlock h2 {
    margin: 0 0 30px;
    color: #4B697F;
}

.infoBlock span {
    font-size: 1.5em;
}

/**********************************
***********************************

****** FORMS (POST, PAGE, USER, LOGIN, REGISTER)

***********************************
***********************************/

.sectionTitle {
    margin-left: 5%;
}

.errorMessage {
    margin-left: 5%;
    margin-bottom: 15px;
    width: calc(90% - 30px);
    color: #aa0000;
    padding: 15px;
    background-color: #ff9999;
}

.errorMessage p {
    margin: 0;
    padding: 0;
}

form {
    padding: 0 5%;
    overflow: hidden;
}

form label {
    font-size: 1.2em;
}

form input[type="email"], form input[type="text"], form input[type="password"], form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    display: block;

}

#contentbox {
    resize:none;
    overflow:hidden;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

#textareadiv {
    position:relative;
    width: 100%;
    height:auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 42px;
}

.formElementDiv {
    margin-bottom: 20px;
}

form button {
    padding: 15px 30px;
    background: #71797F;
    border: 1px solid #B5C2CC;
    color: #fff;
}



label {
    display: block;
}

/**********************************
***********************************

****** USERS DISPLAY

***********************************
***********************************/

.userHeaders {
    /*text-align: center;*/
    font-size: 1.1em;
    display: none
}

.userHeaders ul {
    list-style: none;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #71797F;

}

.userHeaders ul li {
    display: inline-block;
    width: 15%;
    padding: 0;
    margin:0;
}

.userRows {
    /*text-align: center;*/
}

.userRows ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #71797F;

}

.userRows ul li {
    /*display: inline-block;*/
    padding: 5px 0;
    margin: 0;
    /*width: 15%;*/
}

.userRows a {
    color: #4B697F;
    text-decoration: none;
}

.userRows a:hover {
    color: #B5C2CC;
}

/**********************************
***********************************

****** Comment and Post DISPLAY

***********************************
***********************************/

.commentHeaders, .postHeaders {
    /*text-align: center;*/
    font-size: 1.1em;
    display: none
}

.commentHeaders ul, .postHeaders ul {
    list-style: none;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #71797F;

}

.commentHeaders ul li, .postHeaders ul li {
    display: inline-block;
    width: 15%;
    padding: 0;
    margin:0;
}

.commentRows, .postRows {
    /*text-align: center;*/
}

.commentRows ul, .postRows ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #71797F;

}

.commentRows ul li, .postRows ul li {
    /*display: inline-block;*/
    padding: 5px 0;
    margin: 0;
    /*width: 15%;*/
}

.commentRows a, .postRows a {
    color: #4B697F;
    text-decoration: none;
}

.commentRows a:hover, .postRows a:hover {
    color: #B5C2CC;
}


/**********************************
***********************************

****** FOOTER

***********************************
***********************************/

.footer {
    text-align: center;
}
