label {
    display: block;
}


/*********************************
**********************************

****** Comments

**********************************
*********************************/

.indent {
    padding-left: 30px;
}

.indent-2 {
    padding-left: 50px;
}

.indent-3 {
    padding-left: 70px;
}

.indent-4 {
    padding-left: 90px;
}
