{{ define "fredo2016/comments"}}



    <div class="">
        {{ if gt .Post.TotalComments 1 }}
            <span>{{ .Post.TotalComments }} comments.</span>
        {{ else }}
            <span>{{ .Post.TotalComments }} comment.</span>
        {{ end }}
    </div>
    <div class="">
        <form class="add-comment" action="{{ .SiteURL }}/post/{{ .Post.Slug }}/post_comment/0" method="POST">
            <div class="formElementDiv">
             <label for="content"content>Write a comment</label><textarea id="content" name="Content" rows="8" cols="40"></textarea>
            </div>
            <div class="formElementDiv">
                <button type="submit" name="Save">Save</button>
            </div>
        </form>
    </div>


    {{ if gt .Post.TotalComments 0 }}
        {{ range .Post.Comments }}
            <div class="">
                <span>{{ .Author.Firstname }} {{ .Author.Lastname }}</span> <span>{{ .Date.Month }} {{ .Date.Day }}, {{ .Date.Year }}, {{ .Date.Hour }}:{{ .Date.Minute }}</span><br>
                {{ .Content }}<br><br>
                <div class="">
                    <form class="add-comment" action="{{ $.SiteURL }}/post/{{ .On }}/post_comment/1/{{ .ID.Hex }}" method="POST">
                        <div class="formElementDiv">
                         <label for="content"content>Write a comment</label><textarea id="content" name="Content" rows="8" cols="40"></textarea>
                        </div>
                        <div class="formElementDiv">
                            <button type="submit" name="Save">Save</button>
                        </div>
                    </form>
                </div>
                {{ range GetReplies .Replies }}
                    {{ template "fredo2016/comment_reply" . }}
                {{ end }}
            </div>
        {{ end }}
    {{ else }}
        <span>No Comments</span>
    {{ end }}


{{ end }}


{{ define "fredo2016/comment_reply"}}
    <div class="indent">
        <span>{{ .Author.Firstname }} {{ .Author.Lastname }}</span> <span>{{ .Date.Month }} {{ .Date.Day }}, {{ .Date.Year }}, {{ .Date.Hour }}:{{ .Date.Minute }}</span><br>
        {{ .Content }}<br><br>
        <div class="">
            <form class="add-comment" action="/post/{{ .On }}/post_comment/1/{{ .ID.Hex }}" method="POST">
                <div class="formElementDiv">
                 <label for="content"content>Write a comment</label><textarea id="content" name="Content" rows="8" cols="40"></textarea>
                </div>
                <div class="formElementDiv">
                    <button type="submit" name="Save">Save</button>
                </div>
            </form>
        </div>
        {{ range GetReplies .Replies }}
            {{ template "fredo2016/comment_reply" . }}
        {{ end }}
    </div>
{{ end }}
