{{ define "fredo2016/header" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/tmpl/css/normalize.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/tmpl/css/main.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
{{ end }}
