{{ define "fredo2016/index" }}

{{ template "fredo2016/header" . }}

{{ range .Posts}}
    <h2><a href="{{ $.SiteURL }}/post/{{ .Slug }}">{{ .Title }}</a></h2>
    <span>{{ .Author.Firstname }}</span><br>
    <span>{{ Delimit .Categories " / "}}</span><br>
    <span>{{ .Date.Month }} {{ .Date.Day }}, {{ .Date.Year }}</span>

    {{ ( .Content | Excerpt ) | ToMarkdown}}
{{ end }}

{{ template "fredo2016/footer" . }}

{{ end }}
