{{ define "fredo2016/singlepost" }}

{{ template "fredo2016/header" . }}


<h2><a href="{{ .SiteURL }}/post/{{ .Post.Slug }}">{{ .Post.Title }}</a></h2>
<span>By {{ .Post.Author.Firstname }}</span>
<span>Posted: {{ .Post.Date.Month }} {{ .Post.Date.Day }}, {{ .Post.Date.Year }}</span>
<span> in {{ Delimit .Post.Categories " / "}}</span>
{{ .Post.Content | ToMarkdown }}

{{ template "fredo2016/comments" . }}

{{ template "fredo2016/footer" . }}

{{ end }}
